<header>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <div class = "jumbotron">
    <h1 class="">Einkaufsliste</h1>

    <h2>Anzahl der Elemente: {{count}}</h2>
    <h2>Gesamtpreis: {{sum}}</h2>

    <nav>
    <div class="btn-group btn-group-justified">
      <a routerLink="/" class="btn btn-primary" style="margin-left: 20px; margin-right: 20px;">Einkaufsliste</a>
      <a routerLink="/formular" class="btn btn-primary" style="margin-left: 20px; margin-right: 20px;">Neuer Eintrag</a>
    </div>
    </nav>
    </div>
   </header>
