/* You can add global styles to this file, and also import other style files */
li{
    margin-top: 10px;
}

i{
    display: inline-block;
    width: 10%;
}

input{
    display: inline-block;
    width: 10%;
}

#done{
    display: inline-block;
    width: 10%;
    text-align: center;
}

button{
    display: inline-block;
}